<style>
    * {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
</style>



<h1> Movie Poster Shower! </h1>


<form action="/results" method="GET">
    <input type="text" name="search" placeholder="Movie name..">
    <button>Search</button>
</form>